body {
    background-color: aquamarine;
    margin: 0;
    font-family: 'Fredoka One', cursive;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: azure;
    color: black;
    text-align: center;
    display: none;
    border-radius: 10px;
}

.card:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20% {
        transform: translateY(-8px);
    }
    40% {
        transform: translatey(0px);
    }
    60% {
        transform: translateY(-4px);
    }
    80% {
        transform: translatey(0px);
    }
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: grey;
    margin-top: 5px;
}

.card-image {
    height: 180px;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

/* Styles for filter */

#btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(204, 249, 253);
    cursor: pointer;
    margin: 5px;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: rgb(97, 205, 255);
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: rgb(101, 142, 255);
    color: white;
  }