{% extends 'base.html' %}
{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='logoblank.png') }}">
{% endblock %}
{% block title %}
<title>DH's Pokedex</title>
{% endblock %}
{% block content %}
    <div id="btnContainer"></div>
    <div class="container-i">
        <h1>DH's Pokedex</h1>
        <ol id="pokedex">
        </ol>
    </div>
    <div id="pokemon"></div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js')}}"></script>
{% endblock %}
